body {
  font: 400 1em/1.4 $primary-font;
  margin: 0;
  overflow: hidden;
  text-rendering: optimizeLegibility;
}

.fun {
  align-items: center;
  background: white;
  display: flex;
  display: -webkit-flex;
  @include perspective(500px);
  @include position(absolute, 0px 0px 0px 0px);
  @include transform(translate3D(0px, 0px, 0px));
  -webkit-align-items: center;

  &.active {
    background: rgba(255, 255, 0, .4);

    .press {
      @include transform(scale(.8));
      
      .shake {
        opacity: 1;
        @include transform(scale(1));
      }
    }
  }

  .press {
    display: block;
    font: bold 2.5rem/1.2 $primary-font;
    letter-spacing: 2px;
    margin: 0 auto;
    position: relative;
    @include transition(.25s $ease-out-back);

    .shake {
      font: italic normal 1.75rem/1.2 $primary-font;
      opacity: 0;
      padding: 1rem;
      @include position(absolute, -200% 0px 0 0px);
      text-align: center;
      @include transform(scale(.8));
      @include transition(.25s $ease-out-back);
    }
  }
}
